<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/estilos.css">
<script src="https://kit.fontawesome.com/c38f1a45d0.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <img src="logo-mercado-liebre.svg" alt="">
        <h3>lugar para poner barra de bùsqueda</h3>
        <h3>Comprà en cuotas y sin targeta de crèdito</h3>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#">Creà tu cuenta</a></li>
                <li><a href="#">Ingresà</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
        </nav>
        <i class="fas fa-bars"></i>
        
    </header>
    <main>
        <img src="img-home-banner.jpg" width="400" alt="Banner Home">
        <i class="fas fa-search"></i>
        <section id="visita"> 
            <h3>Basado en tu Ùltima visita</h3>
            <article>
                <img src="img-cafetera-moulinex.jpg" width="400px" alt="Cafetera Moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <img src="img-macbook-pro-2019.jpg" width="400px" alt="MacBook Pro 2019">
                <p>$230.000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>
            </article>
            <article>
                <img src="img-samsung-galaxy-s10.jpg" width="400px" alt="Samsung Galaxy S10">
                <p>$70.500</p>
                <p>10% off</p>
                <h4>Samsung Galaxy S10</h4>
            </article>
            <article>
                <img src="img-tv-samsung-smart.jpg" width="400px" alt="SmartTv Samsung 43">
                <p>$23.200</p>
                <p>5% off</p>
                <h4>SmartTv Samsimg 43</h4>
            </article>
        </section>
        <section id="ofertas">
            <h3>Ofertas</h3>
            <article>
                <img src="img-cafetera-moulinex.jpg" width="400px" alt="Cafetera Moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <img src="img-macbook-pro-2019.jpg" width="400px" alt="MacBook Pro 2019">
                <p>$230.000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>
            </article>
            <article>
                <img src="img-samsung-galaxy-s10.jpg" width="400px" alt="Samsung Galaxy S10">
                <p>$70.500</p>
                <p>10% off</p>
                <h4>Samsung Galaxy S10</h4>
            </article>
            <article>
                <img src="img-tv-samsung-smart.jpg" width="400px" alt="SmartTv Samsung 43">
                <p>$23.200</p>
                <p>5% off</p>
                <h4>SmartTv Samsimg 43</h4>
            </article>
        </section>
        <footer>
            <section>
                <h4>Pagà con tarjeta o en efectivo</h4>
                <p>Con Mercad Liebre Cash, tenès cuotas sin interès con tarjeta o efectivo 
                    en puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <h4>Envìo gratis desde $2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenès envìos gratis en miles
                    de productos. Es un beneficio de Mercado Puntos.
                </p>
            </section>
            <section>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                    hacer, porque estàs siempre protegid@.
                </p>
            </section>
            <section>
                <p>Copyright &copy;  1999-2020 MercadoLiebre S.R.L.</p>
            </section>
        </footer>
    </main>
</body>
</html>