<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre - Registro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/estilos.css">
<script src="https://kit.fontawesome.com/c38f1a45d0.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="logo_search_encabezado">
            <div class="logo_search">
                <img src="images/logo-mercado-liebre.svg" alt="">
                <div class="search">
                    <input 
                        type="search" 
                        id="search" 
                        placeholder="Buscar productos, marcas, etc">
                    <i class="fa fa-search"></i>
                </div>    
            </div>
            <h3 class="encabezado"><i class="fas fa-hand-holding-usd"></i>Comprà en cuotas y sin targeta de crèdito</h3>
        </div>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="cuenta">
                <li><a href="#">Creà tu cuenta</a><i class="far fa-id-card"></i></li>
                <li><a href="#">Ingresà</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a><i class="fas fa-shopping-cart"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        
    </header>
    <main>
        <img src="images/img-home-banner.jpg" alt="Banner Home">
        <h3>Registro</h3>
        <section id="registro"> 
            
        
        
        </section>
    </main>
        <footer>
            <section>
                <Article>
                    <div class="icon-footer"><i class="fas fa-credit-card"></i></div>
                    <h4>Pagà con tarjeta o en efectivo</h4>
                    <p>Con Mercad Liebre Cash, tenès cuotas sin interès con tarjeta o efectivo 
                    en puntos de pago. ¡Y siempre es seguro!</p>
                </Article>
            </section>
            <section>
                <article>
                    <div class="icon-footer"><i class="fas fa-shopping-basket"></i></div>
                    <h4>Envìo gratis desde $2.500</h4>
                    <p>Solo por estar registrad@ en Mercado Liebre tenès envìos gratis en miles
                    de productos. Es un beneficio de Mercado Puntos.
                    </p>
                </article>
            </section>
            <section>
                <article>
                    <div class="icon-footer"><i class="fas fa-user-shield"></i></div>
                    <h4>Seguridad, de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                    hacer, porque estàs siempre protegid@.
                    </p>
                </article>
            </section>
            <section>
                <article class="copyright"> 
                    <p>Copyright &copy;  1999-2020 MercadoLiebre S.R.L.</p>
                </article>
            </section>
        </footer>
</body>
</html>