<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre - Registro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/estilos.css">
<script src="https://kit.fontawesome.com/c38f1a45d0.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="logo_search_encabezado">
            <div class="logo_search">
                <img src="images/logo-mercado-liebre.svg" alt="">
                <form class="search" action="" method="post">
                    <input 
                        type="search" 
                        id="search" 
                        placeholder="Buscar productos, marcas, etc">
                    <i class="fa fa-search"></i>
                </form>    
            </div>
            <h3 class="encabezado"><i class="fas fa-hand-holding-usd"></i>Comprà en cuotas y sin targeta de crèdito</h3>
        </div>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="cuenta">
                <li><a href="/registro">Creà tu cuenta</a><i class="far fa-id-card"></i></li>
                <li><a href="/login">Ingresà</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a><i class="fas fa-shopping-cart"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        
    </header>
    <main class="registro">
        <img src="images/img-home-banner.jpg" alt="Banner Home">
        
        <section id="registro"> 
            <form action="" method="post" enctype="multipart/form-data">
                <input type="text" name="nombreyapellido" id="" placeholder="Nombre y apellido" minlength="4" maxlength="30" required>
                <input type="text" name="usuario" id="" placeholder="Nombre de usuario" minlength="4" maxlength="20" required>
                <input type="email" name="email" id="" placeholder="E-mail" minlength="5" maxlength="30" required>
                <label for="">Fecha de nacimiento:</label>
                <div class="date"><input type="date" name="nacimiento" id="" value="08-09-2021" value="08-09-1950" max="08-09-2003" required><i class="far fa-calendar"></i></div>
                <input type="text" name="domicilio" id="" placeholder="Domicilio" minlength="4" maxlength="30">
                <label for="perfil">Perfil de usuario</label>
                <div class="radio">
                    <input type="radio" name="perfil_de_usuario" id="" value="Comprador"> 
                    <label for="comprador">Comprador</label>
                    <input type="radio" name="perfil_de_usuario" id="" value="Vendedor">
                    <label for="vendedor">Vendedor</label>
                </div>
                <label for="interes">Intereses</label>
                <div class="checkbox">
                    <div class="check"><input type="checkbox" name="interes" id="" value="Electro">
                    <label for="electro">Electro</label>
                    </div>
                    <div class="check"><input type="checkbox" name="interes" id="" value="Moda">
                        <label for="moda">Moda</label>
                    </div>
                    <div class="check"><input type="checkbox" name="interes" id="" value="Hogar">
                        <label for="hogar">Hogar</label>
                    </div>
                    <div class="check"><input type="checkbox" name="interes" id="" value="Jugueteria">
                        <label for="jugueteria">Jugueteria</label>
                    </div>
                    <div class="check"><input type="checkbox" name="interes" id="" value="Vida sana">
                        <label for="voda">Vida sana</label>
                    </div>
                </div>
                <input type="file" name="" id="" name="foto_usuario" placeholder="Subir foto" accept=".jpg" minlength="8" maxlength="30">
                <input type="password" name="password" id="" placeholder="contraseña" minlength="4" maxlength="30" required>
                <input type="password" name="confirm_password" id="" placeholder="confirmar contraseña" required>
                <input type="submit" value="Enviar">
                <input type="reset" value="Cancelar">
            </form>
        
        </section>
    </main>
        <footer>
            <section>
                <Article>
                    <div class="icon-footer"><i class="fas fa-credit-card"></i></div>
                    <h4>Pagà con tarjeta o en efectivo</h4>
                    <p>Con Mercad Liebre Cash, tenès cuotas sin interès con tarjeta o efectivo 
                    en puntos de pago. ¡Y siempre es seguro!</p>
                </Article>
            </section>
            <section>
                <article>
                    <div class="icon-footer"><i class="fas fa-shopping-basket"></i></div>
                    <h4>Envìo gratis desde $2.500</h4>
                    <p>Solo por estar registrad@ en Mercado Liebre tenès envìos gratis en miles
                    de productos. Es un beneficio de Mercado Puntos.
                    </p>
                </article>
            </section>
            <section>
                <article>
                    <div class="icon-footer"><i class="fas fa-user-shield"></i></div>
                    <h4>Seguridad, de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                    hacer, porque estàs siempre protegid@.
                    </p>
                </article>
            </section>
            <section>
                <article class="copyright"> 
                    <p>Copyright &copy;  1999-2020 MercadoLiebre S.R.L.</p>
                </article>
            </section>
        </footer>
</body>
</html>