* {
    box-sizing: border-box;
}

body {
    background-color:#ebebeb;
    font-family: 'Roboto';
    font-size: 12px;
    width: 95vw;
}

header, main, footer {
    width: 90vw;
}

.encabezado {
    text-align: center;
    font-weight: normal;
    font-size: normal;
}

ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

section {
    width: 100%;
}

section article {
    width: 100%;
    margin-top: 10px;
}

div.pre_desc {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ebebeb;
}

div.pre_desc p.descuento {
    color: #39b54a;
    font-size: 1.2em;
}

header {
    width: 100%;
    background-color: #EAC926;
}

#visita h3, #ofertas h3 {
    font-size: 24px;
}

div.icon_envio {
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    text-align: left;
    padding: 0;
    border: 1px solid #39b54a;
    border-radius: 1000px;
    color: #39b54a;
}

div.icon_envio .envio {
    position: relative;
    left: 9px;
    top: 5px;
}

section p:first-child {
    font-size: 18px;
}

section p:last-child {
    font-size: 16px;
}

.burger-menu i {
    background-color: #1259c3;
    color: #fff;
    font-size: 2em;
    padding: 10px;
    border-radius: 5px;
}
article .icon-footer  {
    font-size: 2em;
    color: #1259c3;
}


.burger-menu {
    text-align: center;
}

footer section article {
    text-align: center;
    padding-top: 15px;
}

footer section article p {
    font-size: 16px;
    color: #666;
}

article.copyright p {
    font-size: 10px;
    text-align: left;
}

img {
    width: 100%;
}

@media(max-width: 360px) {
    div.pre_desc .descripcion{
        display: none;
    }
    nav {
        display: none;
    }

}

@media(min-width: 361px) {
    section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media(min-width: 769px) {

}